#root {
  text-align: center;
}

span{
  color: #1c1c1c
}

.header{
  display: flex;
  justify-content: space-between;
  margin: 0;
  background-color: #d4d4d4;
  padding: 1rem 0;
}

.header h2{
  margin: 0 30px
}